/* purgecss start ignore */


.slide-up-enter-active {
  animation: slideUp .25s
}

.slide-up-leave-active {
  animation: slideUp .25s reverse;
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0
  }

  70% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

/* purgecss end ignore */